/* Size and alignment for brand */
nav .navbar-brand
{
    font-size: xx-large;
    
}

/* Colors for brand */
nav .navbar-brand .orange
{
    color: #d47425;
}
nav .navbar-brand .orange, .btn .btn-primary, .navbar-toggler
{
    color: #d47425;
}
.navbar-nav
{
    color: white;
}