{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
   <h1>This is i-Content, an application to inspire you to think outside the box</h1> 
   <p>i-Content is a simple, web-based application to allow 
   anyone with access to the internet to personalize an inspirational web space. Simply type in a word and 
   allow inspiration to flow from what is generated.
   </p>
   <hr>
   <hr>
   <p>
   <i>Miles Tsue is a software engineer and musician based in New York, NY.</i>
   </p>
{% endblock %}
