{% extends "layout.html" %}

{% block title %}
    Content Generator
{% endblock %}

{% block main %}
    <form action="/content" method="post">
        <div class="mb-3">
            
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus name="search" placeholder="type a word" type="text" required>
            <button class="btn btn-primary" type="submit">search</button>
        </div>
        <div>
            <h1 class="mb-3">Thoughts on Your content?</h1>
            <textarea name="entry" rows="4" cols="50" placeholder="write your thoughts..." maxlength="150">
                {{ entry }}
            </textarea>
        </div>
    </form>
{% endblock %}