{% extends "layout.html" %}

{% block title %}
    Your space
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Video</th>
            <th scope="col">Your Thoughts</th>
            <th scope="col">Time Logged</th>
        </tr>
    </thead>
    <tbody>
        {% for row in history %}
        <tr>
            <td>{{ row["video_name"] }}</td>
            <td>{{ row["text_content"] }}</td>
            <td>{{ row["time_logged"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
